body{
  background-color: #1c3e63;
}

.jumbotron{
  text-align: center;
}


#center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.smol{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.intro{

}
.question1{
  display: none;
}

.question2{
  display: none;
}

.question3{
  display: none;
}

.question4{
  display: none;
}

.question5{
  display: none;
}

.northkorea{
  display: none;
}

.patagonia{
  display: none;
}

.dubai{
  display: none;
}

.vegas{
  display: none;
}
